{% block content %}
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">{{ object.film }}</h5>
            <p class="card-text">Date: {{ object.date_start }}</p>
            <p class="card-text">Time: {{ object.time_start }} - {{ object.time_end }}</p>
            <p class="card-text">Zal number: {{ object.zal }}</p>
            {% if object.get_available_tickets <= 0 %}
                <div>
                    Not available tickets!
                </div>
            {% else %}
                Available ticket count : {{ object.get_available_tickets }}
                <div>
                    Price : $ {{ object.price }}
                </div>
            {% endif %}
            <a href="{% url "seans-update" pk=object.id %}" class="btn btn-primary">Update</a>
            <a href="{% url "seans-detail" pk=object.id %}" class="btn btn-primary">Detail</a>
            {% if object.get_available_tickets >= 0 %}
                <a href="{% url "ticket-create" %}" class="btn btn-primary">Buy</a>
            {% endif %}
        </div>
    </div>

{% endblock %}